.Information {
  padding: 20px 0px 10px 0px;
  border-bottom: 1px solid #2a363b;

  &_link {
    padding: 12px;
    font-weight: 500;
    color: #2a363b;
    font-size: 18px;

    &--active {
      composes: link;
      color: tomato;
    }
  }
}
